In [24]:
import urllib.request
import csv
import pandas as pd

# fetching the csv 
response = urllib.request.urlopen('https://data.cityofboston.gov/api/views/fqn4-4qap/rows.csv?accessType=DOWNLOAD&bom=true')
data = response.read()
# Save the string to a file
csvstr = str(data).strip("b'")
# saving the csv
lines = csvstr.split("\\n")
d = open("crime_incident_report_august_2015_to_date.csv", "w")
for line in lines:
    d.write(line + "\n")

#reading in csv to create dataframe
df = pd.read_csv('crime_incident_report_august_2015_to_date.csv')

# removing irrelevant columns and null values
cols = [0,2,3,5,6,7,9,10,11,12,13,14,15]
df.drop(df.columns[cols],axis=1,inplace=True)

df = df[df.DISTRICT.notnull()]
df = df[df.Location != '(0E-8, 0E-8)']
df

        OFFENSE CODE DISTRICT  Hour                     Location
0               3115       D4    12  (42.34868917, -71.07257992)
1               3502       B3    12   (42.3019742, -71.08383388)
2               3201       D4    19   (42.34012548, -71.0822333)
3               2900      D14    18  (42.36290257, -71.13737847)
5                520       B3    17  (42.29474312, -71.08503786)
6               3125       B2    12  (42.33332581, -71.10232464)
8                614      D14    16  (42.35598557, -71.15825105)
9               3125       B3    17  (42.28741775, -71.08787231)
10              3207       B2    10  (42.32905325, -71.08891048)
11              1402       B3     4  (42.29356132, -71.08129517)
12              2907       E5    14       (42.26295, -71.155464)
13              2647       B2    14  (42.33353077, -71.09845207)
14              3006       B3    17  (42.29406247, -71.09004553)
15               522       A1    19  (42.36339791, -71.05600208)
16              3114      D14     0  (42.35115368, -71.17291563)
17              3201       E5    18   (42.2802082, -71.17087959)
18              2905       B2    17  (42.30970016, -71.08582414)
19              3301       B2    18   (42.32126855, -71.0669728)
20               724      A15    13  (42.38432736, -71.07482212)
21              3114      C11    16  (42.31363409, -71.06778025)
22              1810      C11    11  (42.29794304, -71.05175837)
23              2647       B3    15  (42.28200583, -71.07606657)
24              3802      D14    10  (42.34982008, -71.16121989)
25              3410       D4    12   (42.34010961, -71.0788244)
26              2662       B2    15  (42.32854498, -71.07726702)
27              3201      D14    11  (42.33667474, -71.15166308)
28              1815      C11    18  (42.29109287, -71.06594539)
29              1402       C6    13  (42.33466323, -71.04153186)
31              3501      E18    16   (42.25992567, -71.1309563)
32              1402       B3    16  (42.26681254, -71.09566961)
...              ...      ...   ...                          ...
137394           617       D4    18  (42.34932471, -71.08014801)
137397           617       A1    18  (42.35428377, -71.06380404)
137398          3006      E18    15  (42.25621592, -71.12401947)
137399          3114      C11    18  (42.29768517, -71.06841896)
137401           619      E13     9   (42.31015486, -71.1159853)
137402          3115       D4    11  (42.35050032, -71.07998346)
137403           413       D4    18  (42.34302527, -71.06493967)
137404          1102       B2    16  (42.33332888, -71.10659534)
137405          3006       A7    14  (42.38399469, -71.01971252)
137407          3502      E18    13  (42.24973808, -71.13094002)
137409          2647      D14    15  (42.35329808, -71.13504948)
137410          3830      C11     8  (42.31042639, -71.05965194)
137411           301       C6    23  (42.33561661, -71.03641895)
137413          3006       A1    13  (42.35591935, -71.06000539)
137414          3125       B2    16  (42.33330171, -71.08181675)
137415           802       A7     2  (42.38490217, -71.00186562)
137416           614      E13    20  (42.30999157, -71.10048419)
137417          3006       D4    20  (42.34302527, -71.06493967)
137419          3207       D4     0  (42.33954199, -71.06940877)
137420           724       B2    11  (42.33756637, -71.10539031)
137421           522       B3    13   (42.28560167, -71.0931713)
137422          3201       A1    22  (42.36608625, -71.05696428)
137423          3006      C11    17  (42.30511791, -71.08019088)
137424          1842      C11    19  (42.28258779, -71.05595395)
137425          3115       A7    22  (42.37248334, -71.03752375)
137426           611       D4     2  (42.34302527, -71.06493967)
137427          1402      D14    22  (42.36105634, -71.14447095)
137428          3125       D4    12  (42.34302527, -71.06493967)
137429          3501      E18    13  (42.24973808, -71.13094002)
137430          2007      C11     9    (42.30175049, -71.059734)

[128995 rows x 4 columns]